html {
    --height: 2vh;
    --width: 3vh;
    --noHeight: 75px;
    --noWidth: 85px;
    --yesFont: 35px;
    --noFont: 35px;
    --valRed: rgba(255, 51, 51, 1);
    --valGreen: rgba(51, 204, 0, 1);
    --gap: 70vh
}

body {
    background-color: rgba(251, 233, 243);
    font-family: "Emilys Candy", serif;
    padding-top: 3vh;
}

#textContainer{
    display:flex;
    justify-content: center;
    font-size: 60px;
    gap: 30px;
    color: var(--valRed);
    letter-spacing: 5px;
    text-align: center;
}

#btnContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: var(--gap);
    overflow: hidden;
    transition: 0.7s all ease;
}

#gifContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s all ease;
    font-family: "Emilys Candy", serif;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#yesBtn {
    background-color: var(--valGreen);
    padding: var(--height) var(--width);
    font-size: var(--yesFont);
}

#noBtn {
    background-color: var(--valRed);
    height: var(--noHeight);
    width: var(--noWidth);
    font-size: var(--noFont);
}

#yesBtn:hover {
    filter: brightness(115%);
}

#yesBtn:active {
    filter: brightness(130%);
}

#noBtn:hover {
   filter: brightness(85%);
}

#noBtn:active {
   filter: brightness(70%);
}

@media (max-width: 600px){
    #btnContainer{
        gap: 15vh;
    }

    #textContainer{
        gap: 4px;
        font-size: 50px;
        width: 95%;
        letter-spacing: 2px;
        margin-left: 10px;
    }
    #gifContainer img{
        width: 105%;
        margin-right: 10px;
    }
}